
.x {
  background-color: rgba(105, 189, 225, 0.565);
 height: 100px;
 width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}

.x.active {
  visibility: visible;
  opacity: 1;
}

.word_style {
  background: -webkit-linear-gradient(rgb(12, 176, 241), rgb(235, 137, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}